<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<section>
			<header class="main">
				{% raw entrys[3].split("\n")[0] %}
				<h3>{{entrys[2]}}</h3>
			</header>
			<hr class="major" />
			<!-- Elements -->
				<h2 id="elements"></h2>
				<div class="row gtr-200">
					<div class="col-12 col-12-medium">
						<!-- Text stuff -->
							<h2><a href=\"/entry/{{entrys[0]}}\"></a></h2>
							{% raw "\n".join(entrys[3].split("\n")[1:]) %}
							<hr />
					</div>
				</div>
		</section>
	</body>
</html>
